{% extends './base/layout.html' %}
{% load static %}
{% block content %}

<section id="page-title" class="page-title-dark page-title-parallax page-title-center"
		style="background: linear-gradient(to bottom, rgba(6, 54, 57,.9), rgba(6, 54, 57,.9)), url('static/front/demos/nonprofit/images/cause/page-title.jpg') no-repeat center center; background-size: cover;">
    <div class="container clearfix">
        <h1 class="mb-3">Rapports d&apos;&eacute;tudes</h1>
        <span>Tous nos rapports d&apos;etudes &agrave; votre port&eacute;e</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
        </ol>
    </div>
</section>

<!-- <section style="margin-top: 40px;" id="content">
    <div class="container clearfix">
        <div class="grid-filter-wrap">
            <ul class="grid-filter" data-container="#portfolio">
                <li class="activeFilter"><a href="#" data-filter="*">Tout</a></li>
                <li><a href="#" data-filter=".pf-icons">Technologies</a></li>
                <li><a href="#" data-filter=".pf-illustrations">Initiatives</a></li>
            </ul>
            <div class="grid-shuffle" data-container="#portfolio">
                <i class="icon-random"></i>
            </div>
        </div>
        <div class="row col-mb-80">
            <div class="col-md-7">
                <div class="row">
                                    
                </div>
            </div>
            <div class="col-md-5">
                <div class="entry event col-12">
                    <div class="grid-inner row align-items-center g-0 p-4">
                        <div class="col-md-4 mb-md-0">
                            <a href="#" class="entry-image">
                                <img src="static/images/events/thumbs/4.jpg"
                                    alt="Nisi officia adipisci molestiae aliquam">
                                <div class="entry-date">16<span>Jun</span></div>
                            </a>
                        </div>
                        <div class="col-md-8 ps-md-4">
                            <div class="entry-title title-xs">
                                <h2><a href="#">Nisi officia adipisci molestiae aliquam</a></h2>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#"><i class="icon-time"></i> 12:00 - 18:00</a></li>
                                    <li><a href="#"><i class="icon-map-marker2"></i> New York</a></li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                <a href="#" class="btn btn-info">RSVP</a> <a href="#"
                                    class="btn btn-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section> -->

<section id="content">
    <div class="content-wrap">
        <div class="mb-0">
            <div class="container">
                <div class="grid-filter-wrap">
                    <ul class="grid-filter" data-container="#portfolio">
                        <li class="activeFilter"><a href="#" data-filter="*">Tout</a></li>
                        <li><a href="#" data-filter=".pf-icons">Technologies</a></li>
                        <li><a href="#" data-filter=".pf-illustrations">Initiatives</a></li>
                    </ul>
                    <div class="grid-shuffle" data-container="#portfolio">
                        <i class="icon-random"></i>
                    </div>
                </div>
                <div id="portfolio" class="portfolio row grid-container g-0">
                    <div class="portfolio-item col-lg-6 col-offset-2 col-md-6 col-sm-6 col-12 pf-media pf-icons">
                        <div class="grid-inner">
                            <div class="entry event col-12">
                                <div class="grid-inner row align-items-center g-0 p-4">
                                    <div class="col-md-4 mb-md-0">
                                        <a href="#" class="entry-image">
                                            <img src="static/front/images/events/thumbs/4.jpg"
                                                alt="Nisi officia adipisci molestiae aliquam">
                                            <div class="entry-date">16<span>Jun</span></div>
                                        </a>
                                    </div>
                                    <div class="col-md-8 ps-md-4">
                                        <div class="entry-title title-xs">
                                            <h2><a href="#">Nisi officia adipisci molestiae aliquam</a></h2>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><a href="#"><i class="icon-time"></i> 12:00 - 18:00</a></li>
                                                <li><a href="#"><i class="icon-map-marker2"></i> New York</a></li>
                                            </ul>
                                        </div>
                                        <div class="entry-content">
                                            <a href="#" class="btn btn-info">T&eacute;l&eacute;charger</a> <a href="#"
                                                class="btn btn-danger">Partager</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio-item col-lg-6 col-md-6 col-sm-6 col-12 pf-media pf-illustrations">
                        <div class="grid-inner">
                            <div class="entry event col-12">
                                <div class="grid-inner row align-items-center g-0 p-4">
                                    <div class="col-md-4 mb-md-0">
                                        <a href="#" class="entry-image">
                                            <img src="static/front/images/events/thumbs/4.jpg"
                                                alt="Nisi officia adipisci molestiae aliquam">
                                            <div class="entry-date">16<span>Jun</span></div>
                                        </a>
                                    </div>
                                    <div class="col-md-8 ps-md-4">
                                        <div class="entry-title title-xs">
                                            <h2><a href="#">Nisi officia adipisci molestiae aliquam</a></h2>
                                        </div>
                                        <div class="entry-meta">
                                            <ul>
                                                <li><a href="#"><i class="icon-time"></i> 12:00 - 18:00</a></li>
                                                <li><a href="#"><i class="icon-map-marker2"></i> New York</a></li>
                                            </ul>
                                        </div>
                                        <div class="entry-content">
                                            <a href="#" class="btn btn-info">RSVP</a> <a href="#"
                                                class="btn btn-danger">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
    </div>
</section>
<style>
    .portfolio-item{
        padding-right: 20px;
    }
</style>
{%endblock%}